body {
    display: flex;
    flex-direction: column;
    font-family:roboto, sans-serif;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
    ;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 16px 200px;
    align-items: center;
}
 .header ul {
    display:flex;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin-left:auto;
    color: #e5e7eb;
 }

 .header h2 {
    margin-right:auto;
 }
.container1 {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 48px;
    padding: 72px 200px;
    justify-content: space-around;

}

.c1left, .c1right{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.c1right {
    align-items: center;
    text-align: center;
    margin-left: auto;
}

.c1left {
    margin-right: auto;
}
.c1left h1{
    margin: 0px;
}
.container1 img {
    border: #ffbe0cdc;
    border-width: 4px;    
    border-radius: 15px;
    border-style: ridge;
}


.container1 p {
    font-size:18px;
    color:#e5e7eb;
}

.container2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 32px;
    padding: 32px 32px 96px 32px;
}
.container2 .goatpics {
    display: flex;
    flex-wrap: wrap;
    gap:32px;
    justify-content: space-around;
}
.container2 img {
    border: #3882F6;
    border-style: solid;
    border-width: 4px;    
    border-radius: 15px;
}
.container2 h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.container2 p {
    font-size:18px;
    color:#000000;   
}
div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937b7;
    justify-content: center;
    align-items: center;
    padding:  100px 300px;
}

.container3 .quote {
    margin-right: auto;
}

.container3 .quotename {
    font-size: 24px;
    font-weight: 800;
    color: #1f2937e7;
    margin-left: auto;

}



.container4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 72px 200px;
    padding: 72px;
    color:#e5e7eb;
    border-radius: 10px;
}

.container4 .c4header {
    color: #f9faf8;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937 ;
    color:#f9faf8;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: #e5e7eb;
    border-style:solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 8px 16px;
    
}