body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
}

.container3 {
    display: flex;
}

.container4 {
    display: flex;
}

.footer {
    display: flex;
}

div img {
    max-width: 300px;
}